* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	min-width: 320px;
}

body {
	text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
	font-family: 'IBM Plex Sans', sans-serif;
}

input::-ms-clear {
	display: none;
}

// стрелки в инпуте при type='number'
::-webkit-inner-spin-button {
	display: none;
}

button {
	cursor: pointer;
	background: transparent;
	-webkit-appearance: none !important;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
	-webkit-appearance: none !important;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	margin: 0;
	overflow-wrap: break-word;
}

a,
button,
input,
select,
textarea,
label,
div,
span {
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}